Repository Qodetx/scrimverse-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Django system check
  entry: bash -c 'cd backend 2>/dev/null || true; source .venv/bin/activate 2>/dev/null || true; python manage.py check'
  language: system
  pass_filenames: false

django-check-migrations:
  name: Check for missing migrations
  entry: bash -c 'cd backend 2>/dev/null || true; source .venv/bin/activate 2>/dev/null || true; python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

fix: support REDIS_URL environment variable for production Redis
  scrimverse/settings.py
Due: django-check

fix: add missing migration for group/match winner fields
  tournaments/migrations/0025_alter_group_winner_alter_match_winner.py
Due: django-check

Fix syntax error in tournaments/views.py causing backend build failure
  .gitignore
  tournaments/views.py
Due: django-check

Add remaining untracked files
  accounts/migrations/0020_playerprofile_game_id_playerprofile_in_game_name.py
  accounts/migrations/0021_alter_playerprofile_game_id_and_more.py
  accounts/migrations/0022_alter_user_phone_number.py
  accounts/models.py
  accounts/serializers.py
  accounts/views.py
  insert_bulk_test_data.py
  payments/serializers.py
  payments/views.py
  scrimverse/settings_local.py
  scripts/confirm_free_registration.py
  scripts/insert_additional_tournaments.py
  scripts/insert_diverse_tournaments.py
  scripts/insert_more_tournaments.py
  scripts/insert_test_tournaments.py
  scripts/open_registrations_now.py
  test_free_registration.py
  tournaments/serializers.py
  tournaments/views.py
Due: django-check, django-check-migrations

Initial push from workspace
  tournaments/serializers.py
  tournaments/views.py
Due: django-check

Workspace update: backend changes
  tournaments/views.py
Due: django-check

Fix formatting in password reset email template
  templates/emails/password_reset.html
Due: none

Workspace update: backend changes
  REGISTRATION_FLOW_CLARIFICATION.md
  Scrimverse Tournament System Updates – Valorant & Call Of Duty.md
  add_more_teams_to_tournament.py
  check_tournament_state.py
  configure_round1_bo3.py
  create_cod_test_tournament.py
  create_test_free_tournaments.py
  fix_tournament_capacity.py
  templates/emails/password_reset.html
  tournaments/groups_views.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/services.py
  tournaments/views.py
Due: django-check, django-check-migrations

Snapshot: tournament-management (full codebase)
  check_round2_status.py
  fix_round2_teams.py
  tournaments/groups_views.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check

User changes: commit and push to changes/v2
  add_bgmi_teams.py
  create_bgmi_test_tournament.py
Due: django-check

User changes: commit and push to changes/v2
  test_csv_export.py
  tournaments/management/__init__.py
  tournaments/management/commands/__init__.py
  tournaments/management/commands/create_kishan_tournament.py
  tournaments/management/commands/populate_test_tournament.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check

User changes: commit and push to changes/v2
  .claude/settings.json
  BGMI_BR_TOURNAMENT_GUIDE.md
  IMPLEMENTATION_CHECKLIST.md
  RESULTS_UI_LOCATIONS.md
  Scrimverse Tournament System Updates – Valorant & Call Of Duty copy.md
  add_10_teams.py
  check_api_response.py
  check_player.py
  check_t78.py
  check_tournament_84_regs.py
  check_tournament_config.py
  complete_t78_round1.py
  create_5v5_test_tournament.py
  create_bgmi_tournament_73.py
  create_completed_pts_tournaments.py
  create_live_test_tournaments.py
  create_test_tournament.py
  create_upcoming_bulk_test_tournament.py
  create_valorant_5v5_complete.py
  fix_current_participants.py
  fix_tournament_75_registration.py
  insert_test_tournaments_bgmi_5v5.py
  make_tournaments_free.py
  make_tournaments_live.py
  make_tournaments_live_5hrs.py
  setup_bulk_schedule_test.py
  setup_live_tournament.py
  submit_tournament_85_scores.py
  tournaments/groups_views.py
  tournaments/serializers.py
  tournaments/services.py
  tournaments/views.py
  update_bulk_test_tournament_count.py
  update_tournament_stats.py
Due: django-check

mactch schedule , leader board
  accounts/leaderboard_views.py
  create_e2e_testing_setup.py
  tournaments/tasks.py
  update_tournaments_live.py
Due: django-check

User changes: commit and push to changes/v2
  scripts/advance_round.py
  tournaments/groups_views.py
Due: django-check

Update .gitignore to exclude local dev files
  .gitignore
Due: none

Fix PhonePe client: don't crash on startup if credentials missing
  payments/services.py
Due: django-check

Fix Google OAuth: support access_token via userinfo endpoint fallback
  accounts/google_auth.py
Due: django-check

Fix email base template: force light mode on iOS Mail and dark-mode clients
  templates/emails/base.html
Due: none

Backend feature batch: tournament sponsors, per-member temp teams, helpers
  accounts/migrations/0040_add_team_member_temp_fields.py
  accounts/models.py
  accounts/serializers/team.py
  accounts/team_helpers.py
  accounts/views/otp_views.py
  accounts/views/profile.py
  accounts/views/team.py
  payments/views/initiation.py
  scripts/verify_per_member_temp.py
  tests/accounts/test_per_member_temp.py
  tests/accounts/test_resend_invite.py
  tests/accounts/test_team_management.py
  tournaments/migrations/0030_add_tournament_sponsor.py
  tournaments/models.py
  tournaments/serializers/__init__.py
  tournaments/serializers/tournament.py
  tournaments/services_registration.py
  tournaments/tasks/tournament_tasks.py
  tournaments/urls.py
  tournaments/views/__init__.py
  tournaments/views/groups.py
  tournaments/views/registration.py
  tournaments/views/sponsors.py
Due: django-check, django-check-migrations

Backend: community app, player team analytics, registration polish
  accounts/analytics_views.py
  accounts/urls.py
  accounts/views/team.py
  community/__init__.py
  community/admin.py
  community/apps.py
  community/migrations/0001_initial.py
  community/migrations/__init__.py
  community/models.py
  community/urls.py
  community/views.py
  scrimverse/settings.py
  scrimverse/urls.py
  tournaments/serializers/tournament.py
  tournaments/tasks/email_tasks.py
  tournaments/views.py
  tournaments/views/registration.py
Due: django-check, django-check-migrations

Backend: community admin enhancements + team view tweak
  accounts/views/team.py
  community/admin.py
  community/templates/admin/community/communityjoin/change_list.html
Due: django-check

Backend: team views, profile serializer, registration, notification updates
  accounts/notification_views.py
  accounts/serializers/profile.py
  accounts/views/team.py
  tournaments/views/registration.py
Due: django-check

Backend: contact views, issue report model, tournament special awards, comms updates
  accounts/contact_views.py
  accounts/serializers/profile.py
  accounts/urls.py
  communications/admin.py
  communications/migrations/0002_add_issue_report.py
  communications/models.py
  tournaments/migrations/0031_add_special_awards_coupon_distribution.py
  tournaments/models.py
  tournaments/views/manage.py
Due: django-check, django-check-migrations

Backend: analytics views update
  accounts/analytics_views.py
Due: django-check

Backend: auth views and scoring admin updates
  accounts/views/auth.py
  tournaments/admin/scoring_admin.py
Due: django-check

Backend: tournament groups view update
  tournaments/views/groups.py
Due: django-check

Backend: MSG91 OTP widget, WhatsApp invite fix, phone guard, registration fixes
  accounts/urls.py
  accounts/views/__init__.py
  accounts/views/auth.py
  accounts/views/otp_views.py
  accounts/views/team.py
  scrimverse/sms_utils.py
  tournaments/serializers/registration.py
Due: django-check

Backend: add phone_auth views file
  accounts/views/phone_auth.py
Due: django-check

Fix: block captain self-join via WhatsApp/link invite
  accounts/views/team.py
Due: django-check

Backend: allow editing rules, description, title and more fields on live/completed tournaments
  tournaments/views/manage.py
Due: django-check

Backend: IGN submission, credential release, group/match/round improvements
  scrimverse/celery.py
  tournaments/migrations/0032_add_ign_fields_to_registration.py
  tournaments/migrations/0033_match_credential_release_time.py
  tournaments/migrations/0034_reg_tournament_status_index.py
  tournaments/models.py
  tournaments/serializers/registration.py
  tournaments/tasks/tournament_tasks.py
  tournaments/urls.py
  tournaments/views/__init__.py
  tournaments/views/groups.py
  tournaments/views/matches.py
  tournaments/views/registration.py
  tournaments/views/rounds.py
Due: django-check, django-check-migrations

Backend: AcceptInviteView bug fix, deadline after tournament end, MSG91 config
  accounts/team_helpers.py
  accounts/views/team.py
  scrimverse/settings.py
Due: django-check

Backend: captain-only IGN submission, remove-member smart block, cancel invite cleanup
  accounts/views/team.py
  tournaments/views/registration.py
Due: django-check

Fix cancel_invite + remove_member snapshot updates and None.lower() crashes
  accounts/views/team.py
Due: django-check

Backend: link tournament registration when sending invites from permanent teams
  accounts/views/team.py
Due: django-check

Fix handle_invite: rebuild IMS dict + add team_members snapshot update
  accounts/views/team.py
Due: django-check

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models\.py$
