Repository Qodetx/scrimverse-backend: changes, and which pre-commit hooks are due for each by the changed paths.
All: django-check, django-check-migrations

django-check:
  name: Django system check
  entry: bash -c 'cd backend 2>/dev/null || true; source .venv/bin/activate 2>/dev/null || true; python manage.py check'
  language: system
  pass_filenames: false

django-check-migrations:
  name: Check for missing migrations
  entry: bash -c 'cd backend 2>/dev/null || true; source .venv/bin/activate 2>/dev/null || true; python manage.py makemigrations --check --dry-run'
  language: system
  pass_filenames: false

updated registeration and test fields
  .coverage
  accounts/migrations/0002_alter_hostprofile_organization_name_and_more.py
  accounts/models.py
  accounts/serializers.py
  tests/accounts/test_authentication.py
  tests/factories.py
  tests/tournaments/test_registrations.py
Due: django-check, django-check-migrations

WIP
  .coverage
  .gitignore
  requirements.txt
  scrimverse/__init__.py
  scrimverse/celery.py
  scrimverse/settings.py
  scripts/creation_automation.py
  start_celery.sh
  tests/tournaments/test_tasks.py
  tests/tournaments/test_tournament_management.py
  tournaments/management/__init__.py
  tournaments/management/commands/__init__.py
  tournaments/management/commands/update_tournament_status.py
  tournaments/migrations/0003_tournament_current_round_tournament_round_status_and_more.py
  tournaments/migrations/0004_tournament_winners.py
  tournaments/migrations/0005_roundscore.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check, django-check-migrations

WIP
  accounts/urls.py
  accounts/views.py
  scripts/cleanup_test_accounts.py
  scripts/creation_automation.py
  tournaments/serializers.py
  tournaments/views.py
Due: django-check

WIP
  scripts/cleanup_test_accounts.py
Due: django-check

Refactored the Website
  .coverage
  tests/conftest.py
  tests/factories.py
  tests/tournaments/test_cache.py
  tests/tournaments/test_permissions.py
  tests/tournaments/test_platform_stats.py
  tests/tournaments/test_registrations.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check

feat(tournament): revamp management UI, fix round logic, and enhance team validation
  .coverage
  scrimverse/middleware.py
  scrimverse/settings.py
  scripts/creation_automation.py
  tests/tournaments/test_tasks.py
  tests/tournaments/test_tournament_management.py
  tournaments/apps.py
  tournaments/signals.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check

Fix linting errors
  accounts/leaderboard_views.py
  accounts/migrations/0008_teamstatistics_scrim_kill_points_and_more.py
  accounts/migrations/0009_teamstatistics_scrim_rank_and_more.py
  accounts/models.py
  accounts/serializers.py
  accounts/views.py
  scripts/generate_comprehensive_data.py
  scripts/scrim_automation.py
  scripts/test_setup.py
  tournaments/groups_views.py
  tournaments/match_views.py
  tournaments/migrations/0012_tournament_event_mode_tournament_max_matches.py
  tournaments/migrations/0013_alter_tournament_prize_pool.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check, django-check-migrations

Finalizing Scrims and Tournaments backend features
  scripts/generate_comprehensive_data.py
  scripts/scrim_automation.py
  scripts/test_setup.py
  tournaments/groups_views.py
Due: django-check

Admin Portal
  .coverage
  accounts/admin.py
  accounts/migrations/0012_remove_scrim_models_and_unused_fields.py
  accounts/models.py
  scrimverse/celery.py
  scripts/generate_comprehensive_data.py
  tests/conftest.py
  tests/factories.py
  tests/tournaments/test_registration_modes.py
  tests/tournaments/test_registrations.py
  tests/tournaments/test_scrim_functionality.py
  tests/tournaments/test_scrim_management.py
  tournaments/admin.py
  tournaments/migrations/0016_remove_scrim_models_and_unused_fields.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check, django-check-migrations

Upgrades
  accounts/serializers.py
  test_celery_tasks.py
  tournaments/migrations/0017_alter_hostrating_options.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/views.py
Due: django-check, django-check-migrations

Updated S3 Bucket
  .coverage
  accounts/migrations/0014_aadharverification.py
  requirements.txt
  scrimverse/settings.py
  scrimverse/storage_backends.py
Due: django-check

Minor fix
  scrimverse/storage_backends.py
Due: django-check

Minor Changes
  accounts/admin.py
  accounts/views.py
Due: django-check

Updated UI Changes
  tests/tournaments/test_platform_stats.py
  tests/tournaments/test_tasks_comprehensive.py
  tests/tournaments/test_tournament_management_advanced.py
  tournaments/groups_views.py
Due: django-check

Logging and Custom Banner change
  .gitignore
  accounts/leaderboard_views.py
  accounts/views.py
  scrimverse/settings.py
  tournaments/groups_views.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/views.py
Due: django-check, django-check-migrations

Added Mangement commmand
  tournaments/management/commands/upload_default_banners.py
  tournaments/models.py
  tournaments/serializers.py
Due: django-check, django-check-migrations

Minor Fix
  accounts/admin.py
Due: django-check

Minor Fix II
  accounts/admin.py
  payments/migrations/0003_rename_payments_merchan_c6b9a5_idx_payments_pa_merchan_b6aa47_idx_and_more.py
  payments/models.py
Due: django-check, django-check-migrations

EC2 pushes
  payments/migrations/0001_initial.py
  payments/migrations/0002_alter_payment_detailed_error_code_and_more.py
  payments/migrations/0002_alter_payment_options_alter_refund_options_and_more.py
  payments/migrations/0003_rename_payments_merchan_c6b9a5_idx_payments_pa_merchan_b6aa47_idx_and_more.py
  payments/models.py
Due: django-check, django-check-migrations

Issues fixed
  payments/services.py
  payments/views.py
Due: django-check

Minor Fix
  payments/views.py
Due: django-check

Gateway Workflow
  payments/migrations/0003_payment_payment_expires_at_payment_pending_data.py
  payments/models.py
  payments/serializers.py
  payments/urls.py
  payments/utils.py
  payments/views.py
  scrimverse/celery.py
  tournaments/migrations/0018_tournament_is_payment_pending_and_more.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/tasks.py
  tournaments/views.py
Due: django-check, django-check-migrations

Issue
  payments/views.py
  tournaments/views.py
Due: django-check

Changes
  payments/views.py
Due: django-check

changes
  payments/views.py
Due: django-check

Add
  tournaments/views.py
Due: django-check

FInal gateway
  payments/admin.py
  tournaments/admin.py
Due: django-check

Major Changes
  accounts/views.py
  payments/admin.py
  payments/migrations/0005_planpricing.py
  payments/migrations/0006_seed_plan_pricing.py
  payments/models.py
  tournaments/migrations/0020_alter_tournament_plan_type.py
  tournaments/models.py
  tournaments/pricing_views.py
  tournaments/urls.py
  tournaments/views.py
Due: django-check, django-check-migrations

fpendings
  accounts/views.py
  scripts/README.md
  scripts/create_test_tournaments.py
  tournaments/groups_views.py
  tournaments/management/commands/create_test_data.py
  tournaments/migrations/0018_add_round_names.py
  tournaments/models.py
  tournaments/serializers.py
  tournaments/views.py
Due: django-check, django-check-migrations

Resolved Merge conflicts
  tournaments/management/commands/check_missing_scores.py
  tournaments/management/commands/create_test_data.py
  tournaments/management/commands/update_group_statuses.py
  tournaments/management/commands/upload_default_banners.py
  tournaments/migrations/0021_merge_20260125_1902.py
Due: django-check

Change
  README.md
  start_celery.sh
Due: none

PDF issues resolve
  tournaments/serializers.py
Due: django-check

add setuptools to fix pkg_resources build error
  requirements.txt
Due: none

update build.sh to explicitly install setuptools and wheel
  build.sh
Due: none

filter empty origins in CORS/CSRF settings
  scrimverse/settings.py
Due: django-check

Path conditions:
  django-check: any of: \.py$
  django-check-migrations: any of: models\.py$
